USE [user43]
GO
/****** Object:  Table [dbo].[Address3]    Script Date: 07.04.2026 13:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address3](
	[ID_Address] [int] IDENTITY(1,1) NOT NULL,
	[PostalCode] [nvarchar](10) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](100) NOT NULL,
	[House] [int] NOT NULL,
 CONSTRAINT [PK_Address3] PRIMARY KEY CLUSTERED 
(
	[ID_Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order3]    Script Date: 07.04.2026 13:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order3](
	[ID_Order] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[ID_Product] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[ID_Address] [int] NOT NULL,
	[ID_User] [int] NULL,
	[RecipientCode] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Order3] PRIMARY KEY CLUSTERED 
(
	[ID_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product3]    Script Date: 07.04.2026 13:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product3](
	[ID_Product] [int] IDENTITY(1,1) NOT NULL,
	[Article] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Unit] [nvarchar](10) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Supplier] [nvarchar](100) NOT NULL,
	[Manufacturer] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Discount] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Photo] [nvarchar](255) NULL,
 CONSTRAINT [PK_Product3] PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role3]    Script Date: 07.04.2026 13:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role3](
	[UserRole] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Role3] PRIMARY KEY CLUSTERED 
(
	[UserRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User3]    Script Date: 07.04.2026 13:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User3](
	[ID_User] [int] IDENTITY(1,1) NOT NULL,
	[UserRole] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_User3] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address3] ON 

INSERT [dbo].[Address3] ([ID_Address], [PostalCode], [City], [Street], [House]) VALUES (1, N'344288', N'Дубна', N'Чехова', 1)
INSERT [dbo].[Address3] ([ID_Address], [PostalCode], [City], [Street], [House]) VALUES (2, N'614164', N'Дубна', N' Степная', 30)
INSERT [dbo].[Address3] ([ID_Address], [PostalCode], [City], [Street], [House]) VALUES (3, N'394242', N'Дубна', N'Коммунистическая', 43)
SET IDENTITY_INSERT [dbo].[Address3] OFF
GO
SET IDENTITY_INSERT [dbo].[Order3] ON 

INSERT [dbo].[Order3] ([ID_Order], [OrderNumber], [ID_Product], [Quantity], [OrderDate], [DeliveryDate], [ID_Address], [ID_User], [RecipientCode], [Status]) VALUES (1, 1, 2, 2, CAST(N'2022-05-15' AS Date), CAST(N'2022-05-21' AS Date), 18, 7, 401, N'Новый ')
INSERT [dbo].[Order3] ([ID_Order], [OrderNumber], [ID_Product], [Quantity], [OrderDate], [DeliveryDate], [ID_Address], [ID_User], [RecipientCode], [Status]) VALUES (2, 1, 3, 2, CAST(N'2022-05-15' AS Date), CAST(N'2022-05-21' AS Date), 18, 7, 401, N'Новый ')
INSERT [dbo].[Order3] ([ID_Order], [OrderNumber], [ID_Product], [Quantity], [OrderDate], [DeliveryDate], [ID_Address], [ID_User], [RecipientCode], [Status]) VALUES (3, 2, 4, 3, CAST(N'2022-05-16' AS Date), CAST(N'2022-05-22' AS Date), 20, 8, 402, N'Новый ')
SET IDENTITY_INSERT [dbo].[Order3] OFF
GO
SET IDENTITY_INSERT [dbo].[Product3] ON 

INSERT [dbo].[Product3] ([ID_Product], [Article], [Name], [Unit], [Price], [Supplier], [Manufacturer], [Category], [Discount], [Quantity], [Description], [Photo]) VALUES (2, N'А112Т4', N'Боксерская груша', N'шт.', CAST(778.00 AS Decimal(10, 2)), N'Спортмастер', N'X-Match', N'Спортивный инвентарь', 5, 6, N'Боксерская груша X-Match черная', NULL)
INSERT [dbo].[Product3] ([ID_Product], [Article], [Name], [Unit], [Price], [Supplier], [Manufacturer], [Category], [Discount], [Quantity], [Description], [Photo]) VALUES (3, N'G598Y6', N'Спортивный мат', N'шт.', CAST(2390.00 AS Decimal(10, 2)), N'Декатлон', N'Perfetto Sport', N'Спортивный инвентарь', 2, 16, N'Спортивный мат 100x100x10 см Perfetto Sport № 3 бежевый', NULL)
INSERT [dbo].[Product3] ([ID_Product], [Article], [Name], [Unit], [Price], [Supplier], [Manufacturer], [Category], [Discount], [Quantity], [Description], [Photo]) VALUES (4, N'F746E6', N'Шведская стенка', N'шт.', CAST(9900.00 AS Decimal(10, 2)), N'Декатлон', N'ROMANA Next', N'Спортивный инвентарь', 3, 5, N'Шведская стенка ROMANA Next, pastel', NULL)
SET IDENTITY_INSERT [dbo].[Product3] OFF
GO
INSERT [dbo].[Role3] ([UserRole]) VALUES (N'Администратор')
INSERT [dbo].[Role3] ([UserRole]) VALUES (N'Клиент')
INSERT [dbo].[Role3] ([UserRole]) VALUES (N'Менеджер')
GO
SET IDENTITY_INSERT [dbo].[User3] ON 

INSERT [dbo].[User3] ([ID_User], [UserRole], [FullName], [Login], [Password]) VALUES (1, N'Администратор', N'Пахомова Аиша Анатольевна', N'm4ic8j5qgstw@gmail.com', N'2L6KZG')
INSERT [dbo].[User3] ([ID_User], [UserRole], [FullName], [Login], [Password]) VALUES (2, N'Администратор', N'Жуков Роман Богданович', N'd43zfg9tlsyv@gmail.com', N'uzWC67')
INSERT [dbo].[User3] ([ID_User], [UserRole], [FullName], [Login], [Password]) VALUES (3, N'Администратор', N'Киселева Анастасия Максимовна', N'8ohgisf6k45w@outlook.com', N'8ntwUp')
SET IDENTITY_INSERT [dbo].[User3] OFF
GO
ALTER TABLE [dbo].[Order3]  WITH CHECK ADD  CONSTRAINT [FK_Order3_Address3] FOREIGN KEY([ID_Address])
REFERENCES [dbo].[Address3] ([ID_Address])
GO
ALTER TABLE [dbo].[Order3] CHECK CONSTRAINT [FK_Order3_Address3]
GO
ALTER TABLE [dbo].[Order3]  WITH CHECK ADD  CONSTRAINT [FK_Order3_Product3] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product3] ([ID_Product])
GO
ALTER TABLE [dbo].[Order3] CHECK CONSTRAINT [FK_Order3_Product3]
GO
ALTER TABLE [dbo].[Order3]  WITH CHECK ADD  CONSTRAINT [FK_Order3_User3] FOREIGN KEY([ID_User])
REFERENCES [dbo].[User3] ([ID_User])
GO
ALTER TABLE [dbo].[Order3] CHECK CONSTRAINT [FK_Order3_User3]
GO
ALTER TABLE [dbo].[User3]  WITH CHECK ADD  CONSTRAINT [FK_User3_Role3] FOREIGN KEY([UserRole])
REFERENCES [dbo].[Role3] ([UserRole])
GO
ALTER TABLE [dbo].[User3] CHECK CONSTRAINT [FK_User3_Role3]
GO
